.idea/
__pycache__/

evolly.egg-info/
build/
dist/

examples/tf_examples/fashion-mnist/
examples/tf_examples/logs/
examples/tf_examples/searches/

examples/torch_examples/fashion-mnist/
examples/torch_examples/logs/
examples/torch_examples/searches/

examples/visualized_runs/

tests/test_search/
